body {
	background-color:#cccccc;		/*ページ全体の背景色*/
	font-size:95%;			/* フォントサイズを95%にする */
	font-family: "ＭＳ ゴシック",sans-serif;	/* フォントの種類をゴシック系にする */
  line-height:1.5;		/* 行の高さを1.5倍にする */
  background: linear-gradient(145deg, #ddffe4, #bad7c0);
  
}

.App {
  width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #ddffe4, #bad7c0);

}

.App-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 8px 4px;
  padding-bottom: 16px;
  border-bottom: 1px solid #aaa;
  background: linear-gradient(145deg, #ddffe4, #bad7c0);

}

.App-form > :nth-child(1) {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #ddffe4, #bad7c0);

}

.App-form > :nth-child(1) > * {
  outline: none;
  border: 1px solid #aaa;
  transition: all .3s;
  border-radius: 2px;
}

.App-form > :nth-child(1) > *:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}

.App-form > :nth-child(1) > :first-child {
  font-size: 18px;
  height: 24px;
  padding: 2px 8px;
}

.App-form > :nth-child(1) > :last-child {
  margin-top: 4px;
  font-size: 16px;
  height: 40px;
  padding: 2px 8px;
}

.App-form > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-form button {
  padding: 4px 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 26px;
  background: linear-gradient(145deg, #ddffe4, #bad7c0);
  box-shadow:  20px 20px 25px #a4bda8, 
             -20px -20px 25px #faffff;
}

button {
  border: none;
  outline: none;
  border-radius: 7px;
background: #e0ffe9;
box-shadow:  12px 12px 24px #d3f0db, 
             -12px -12px 24px #edfff7;
}
input#title {
  border: none;
  outline: none;
  background: #f5fdff;
  box-shadow:  6px 6px 12px #e6eef0, 
             -6px -6px 12px #ffffff;
}

textarea#description {
  border: none;
  outline: none;
  background: #f5fdff;
  box-shadow:  6px 6px 12px #e6eef0, 
             -6px -6px 12px #ffffff;
}
